@import "../../assets/styles/main.scss";

.sidebar {
    position: fixed;
    background-color: var(--bg-sidebar);
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    transition: 0.3s ease-in-out;
    z-index: 9;

    &.active {
        right: 0;
    }

    .logo {
        padding: 50px 0 20px 0;
        display: flex;
        justify-content: center;

        a {
            user-select: none;
            @include logoText;
            color: var(--font-blue);
            font-family: var(--font-family-caudex);

            @include breakpoint(md-max) {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    .navigation {
        display: flex;
        flex-direction: column;
        position: relative;

        a {
            font-family: var(--font-family-avenir);
            @include navText;
            color: var(--font-blue);
            padding: 10px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease-in-out;
            animation-duration: 0.9s;

            svg {
                margin-right: 7px;
                fill: var(--font-blue);
            }

            &:hover {
                color: var(--font-hover);
                animation-name: pulse79;
                animation-iteration-count: infinite;

                svg {
                    fill: var(--font-hover);
                }
            }

            &.active {
                color: var(--font-hover);
            }
        }
    }
}
