@import "../../../assets/styles/main.scss";

.heroBanner {
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/webp/heroBanner.webp");
    padding: 200px 0;

    @include breakpoint(lg-max) {   
        padding: 150px 0 100px 0;
    }

    @include breakpoint(sm-max) {   
        padding: 100px 0 50px 0;
    }

    .heroBannerContent {
        padding: 0 30px;
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 535px 1fr;

        @include breakpoint(lg-max) {
            grid-template-columns: 1fr;
        }

        .heroBannerImage {
            border-radius: 999px;
            overflow: hidden;
            transition: 0.5s ease-in-out; transition: opacity 0.5s ease-in-out;

            @include breakpoint(lg-max) {
                max-width: 535px;
            }

            &.fadeIn {
              opacity: 1;
            }
      
            &.fadeOut {
              opacity: 0;
            }
      
            img {
                display: block;
                width: 100%;
                height: auto;
                max-height: 700px;
                aspect-ratio: 1 / 1.4;
                animation: waveEffect 2s infinite alternate;
            }
        }

        .heroBannerText {
            position: relative;

            .heroTitle {
                position: absolute;
                right: 20%;
                top: 20%;
                width: 130%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                @include breakpoint(lg-max) {
                    position: relative;
                    right: 0;
                    top: 0;
                    width: 100%;
                    margin-top: -15%;
                }

                @include breakpoint(sm-max) {
                    margin-top: 20px;
                    align-items: center;
                    text-align: center;
                }

                h1 {
                    @include heroText;
                    font-family: var(--font-family-caudex);
                    color: var(--font-red);
                    word-break: break-word;

                    @include breakpoint(md-max) {
                        font-size:110px;
                    }

                    @include breakpoint(sm-max) {
                        font-size: 50px;
                        line-height: 1.5;
                    }
                }

                p {
                    margin: -20px 0 50px 0;
                    @include font24;
                    font-family: var(--font-family-avenir);
                    color: var(--font-blue);

                    @include breakpoint(sm-max) {
                        margin: 10px 0 30px 0;
                    }
                }
            }
        }
    }
}