@import "../../../assets/styles/main.scss";

.collection {
    padding: 100px 0;
    background-color: var(--main-yellow);

    @include breakpoint(sm-max) {
        padding: 50px 0;
    }

    .collectionContent {
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            display: block;
            max-width: 400px;
            word-break: break-word;
            text-align: center;
            @include font24;
            font-family: var(--font-family-avenir);
            color: var(--font-blue);

            @include breakpoint(sm-max) {
                font-size: 20px;
                line-height: 26px;
            }
        }

        p {
            max-width: 700px;
            word-break: break-word;
            text-align: center;
            @include font30Light;
            font-family: var(--font-family-caudex);
            color: var(--font-blue);
            margin-top: 20px;

            @include breakpoint(sm-max) {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    .collectionGrid {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;

        @include breakpoint(lg-max) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(md-max) {
            grid-template-columns: repeat(1, 1fr);
        }

        @include breakpoint(sm-max) {
            margin-top: 50px;
            grid-gap: 30px;
        }

        .collectionGridDiv {
            .collectionGridImg {
                border-radius: 999px;
                overflow: hidden;

                @include breakpoint(md-max) {
                    max-width: 450px;
                    margin: 0 auto;
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    aspect-ratio: 1 / 1.4;
                    max-height: 550px;
                    transition: 0.5s ease-in-out;
                }
            }

            .collectionGridItem {
                margin-top: 30px;
                display: flex;
                align-items: center;
                flex-direction: column;

                @include breakpoint(sm-max) {
                    margin-top: 20px;
                }

                h3 {
                    @include logoText;
                    color: var(--font-red);
                    font-family: var(--font-family-caudex);
                    text-align: center;
                    margin-bottom: 10px;

                    @include breakpoint(sm-max) {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }

                a {
                    display: block;
                    padding: 7px 30px;
                    @include cartText;
                    color: var(--font-blue);
                    font-family: var(--font-family-avenir);
                    text-align: center;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.3);
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            &:hover {
                .collectionGridImg {
                    img {
                        transform: scale(1.1);
                        transition: 0.5s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
