@import "mixins";
@import "typography";
@import "variables";

.heroTitle, .friendsContent {
    button {
        padding: 10px 30px;
        @include buttonText;
        background-color: var(--main-blue);
        color: var(--font-yellow);
        font-family: var(--font-family-avenir);
        border: 1px solid transparent;
        border-radius: 999px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: transparent;
            color: var(--font-blue);
            border: 1px solid var(--main-blue);
        }
    }
}
