:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #002c5d;
    --font-color-secondary: #333333;
    --font-hover: #ad0000;

    --border-color: #333333;

    --header-bg: #ffcd32cc;
    --sidebar-bg: #ffcd32;
    --dull-bg: rgba(0, 0, 0, 0.5);

    --font-family-avenir: "Avenir";
    --font-family-caudex: "Caudex";
}
