:root {
    --color-white: #fff;
    --color-black: #000;

    --main-blue: #002c5d;
    --main-yellow: #ffcd32;

    --font-blue: #002c5d;
    --font-blue-secondary: #333333;
    --font-hover: #ad0000;
    --font-red: #ad0000;
    --font-yellow: #ffcd32;
    --font-placeholder: #7575ab;

    --border-color: #333333;
    --border-color2: #787878;

    --bg-header: #ffcd32cc;
    --bg-sidebar: #ffcd32;
    --bg-footer: #002c5d;

    --font-family-avenir: "Avenir";
    --font-family-caudex: "Caudex";
}
