
@mixin font12 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

@mixin cartTextSmall {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@mixin font16 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

@mixin cartText {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

@mixin navText {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

@mixin buttonText {
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
}

@mixin font20 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

@mixin font20Dark {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

@mixin font24 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

@mixin font24Light {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

@mixin font30 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}

@mixin font30Light {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}

@mixin font35 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
}

@mixin logoText {
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
}

@mixin orderHead {
    font-size: 48px;
    line-height: 62px;
    font-weight: 400;
}

@mixin contentHead {
    font-size: 60px;
    line-height: 48px;
    font-weight: 400;
}

@mixin logoTextFooter {
    font-size: 68px;
    line-height: 90px;
    font-weight: 400;
}

@mixin heroText {
    font-size: 126px;
    line-height: 168px;
    font-weight: 400;
}