@import "../../../assets/styles/main.scss";

.cockTailBg2 {
    width: 100%;
    min-height: 750px;
    background-attachment: fixed;
    background-image: url("../../../assets/images/webp/cocktailBG2.webp");
    background-size: cover;
    background-position: center;

    @include breakpoint(sm-max) {
        min-height: 500px;
    }
}