@import "../../assets/styles/main.scss";

.login {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease-in-out;

    @include breakpoint("md-max") {
        height: 100vh;
    }

    .loginBanner {
        height: 100vh;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: 0.4s ease-in-out;
        }

        .loginBannerUpper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 0 20px;
            background-color: rgba(0, 0, 0, 0.5);

            h2 {
                @include contentHead;
                font-family: var(--font-family-caudex);
                color: var(--color-white);
                text-align: center;
            }

            p {
                @include font20;
                font-family: var(--font-family-avenir);
                color: var(--color-white);
                max-width: 370px;
                text-align: center;
            }
        }
    }

    .loginDiv {
        position: fixed;
        top: 0;
        left: 200%;
        width: 50%;
        height: 100%;
        background-color: var(--main-yellow);
        display: flex;
        align-items: center;
        transition: 0.4s ease-in-out;

        @include breakpoint("md-max") {
            position: relative;
            left: 0;
            width: 100%;
            height: auto;
            transform: translateY(100%);
        }

        .loginDivContent {
            width: 100%;
            max-height: 100%;
            border-radius: 10px;
            padding: 50px 20px;
            overflow: auto;

            .loginDivMain {
                max-width: 400px;
                margin: 0 auto;
                
                .logo {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;

                    a {
                        user-select: none;
                        @include logoText;
                        color: var(--font-blue);
                        font-family: var(--font-family-caudex);

                        @include breakpoint(md-max) {
                            font-size: 30px;
                            line-height: 40px;
                        }
                    }
                }

                .navigationDiv {
                    p {
                        margin-top: 15px;
                        text-align: center;
                        @include cartTextSmall;
                        font-family: var(--font-family-avenir);
                        color: var(--font-blue-secondary);

                        a {
                            color: var(--font-blue);
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                color: var(--font-red);
                            }
                        }
                    }
                }

                .orLine {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0;
                    position: relative;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        bottom: 0;
                        width: 46%;
                        border-top: 1px solid var(--border-color2);
                    }

                    &:before {
                        left: 0;
                    }

                    &:after {
                        right: 0;
                    }

                    span {
                        @include cartTextSmall;
                        font-family: var(--font-family-avenir);
                        color: var(--border-color2);
                    }
                }
            }
        }
    }

    &.active {
        @include breakpoint("md-max") {
            height: auto;
        }

        .loginBanner {
            img {
                width: 50%;
                transition: 0.4s ease-in-out;
                clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);

                @include breakpoint("md-max") {
                    width: 100%;
                    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
                }
            }

            @include breakpoint("md-max") {
                transition: 0.4s ease-in-out;
                height: 50vh;
            }

            .loginBannerUpper {
                display: none;
            }
        }

        .loginDiv {
            left: 50%;
            transition: 0.4s ease-in-out;
            transition-delay: 0.3s;

            @include breakpoint("md-max") {
                left: 0;
                height: auto;
                transform: translateY(0);
            }
        }
    }
}
