@import "../../../assets/styles/main.scss";

.clock {
    padding: 100px 0;

    @include breakpoint(sm-max) {
        padding: 50px 0;
    }

    h2 {
        word-break: break-word;
        text-align: center;
        @include font24;
        font-family: var(--font-family-avenir);
        color: var(--font-blue);

        @include breakpoint(sm-max) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    .clockGrid {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-top: 50px;

        @include breakpoint(md-max) {
            flex-direction: column;
            align-items: center;
        }

        .clockGridBox {
            max-width: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-top: 30px;
            }

            p {
                word-break: break-word;
                text-align: center;
                @include font30Light;
                font-family: var(--font-family-caudex);
                color: var(--font-blue);
                margin-top: 20px;

                @include breakpoint(sm-max) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
}
