// Avenir //
@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir/AvenirLTStd-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir/AvenirLTStd-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir/AvenirLTStd-Heavy.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir/AvenirLTStd-Black.otf") format("opentype");
  font-weight: 900;
}

// Caudex //
@font-face {
  font-family: "Caudex";
  src: url("../../fonts/Caudex/Caudex-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Caudex";
  src: url("../../fonts/Caudex/Caudex-Bold.ttf") format("truetype");
  font-weight: 700;
}